.sidebarBody {
  background-color: var(--bg-color-dark);
}

.sidebarBody__search {
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
  padding: 13px 10px;
  height: 55px;
}

.sidebarBody__input {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: var(--bg-color-gray);
  border-radius: 30px;
}

.sidebarBody__input > input {
  flex: 1;
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: var(--bg-color-gray);
  color: #f4f4f4;
}

.sidebarBody__chats {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  height: calc(100vh - 55px - 55px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebarBody__chats::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebarBody__chats {
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /*Firefox*/
}

.sidebarBody__chats > p {
  font-size: 20px;
  text-align: center;
}
