.home {
}

.chat__none {
  display: none;
}

@media screen and (min-width: 48em) {
  .home {
    display: flex;
    flex-direction: row;
  }

  .home__sidebar {
    flex: 0.3;
    display: flex;
  }

  .home__chat {
    flex: 0.7;
    display: flex;
  }
}

@media screen and (min-width: 64em) {
}

/* 
{ <article className={`home__sidebar ${message? 'chat__none' : ''}`}>
                <Sidebar />
                </article>
                <article className={`home__chat ${message? '' : 'chat__none'}`}>
                <Chat />
            </article> 
            <Sidebar /> 
            <Chat /> 


*/
