.chatFooter {
  height: 55px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 1px solid var(--border-color);
}

.chatFooter__input {
  flex: 1;
}

.chatFooter__input > input {
  width: 100%;
  padding: 7px;
  border: none;
  outline: none;
  background-color: #3e4346;
  color: #f4f4f4;
  border-radius: 30px;
}

.chatFooter__input > button {
  display: none;
}
