.chatBody {
  height: calc(100vh - 55px - 55px);
  background-image: url("https://res.cloudinary.com/dhdxq3mkm/image/upload/v1629123456/whatsapp-project/fondo-whatsapp_yy4j5e.jpg");
  background-repeat: repeat;
  background-position: left top;
}

.chatBody__content {
  height: 100%;
  width: 100%;
  padding: 20px 15px 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chatBody__content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chatBody__content {
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /*Firefox*/
}
