:root {
  --first-color: #19a38e;
  --color_gray: #ccc8c8;
}

a {
  text-decoration: none;
  color: var(--first-color);
}

img {
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color_gray);
  border-radius: 7px;
}
